button.cadastro{
    width: 85%;
    height: 40px;
    background-color: #DA0D1E;
    border-radius: 100px;
    border: none;
    font-family: Verdana, sans-serif;
    font-size: larger;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.cadastro:hover{
    background-color: #c50e1e;
}

a.botao{
    color:white;
    text-decoration: none;
}

button.gear{
    margin: 0;
    position: absolute;
    right: 5%;
    top: 35%;
    background-color: white;
    border: none;
}

button.plus{
    width: 55px;
    height: 55px;
    background-color: #DA0D1E;
    border-radius: 20px;
    border: none;
    position: absolute;
    right: 7%;
    bottom: 7%;
}

button.plus:hover{
    background-color: #c50e1e;
}

button.back{
    font-size: xx-large;
    border: none;
    position: relative;
    left: 300px;
    bottom: 45px;
    background-color: white;
}

button.excluir{
    width: 35%;
    height: 40px;
    position: absolute;
    right: 10%;
    background-color: #DA0D1E;
    border-radius: 100px;
    border: none;
    font-family: Verdana, sans-serif;
    font-size: larger;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.excluir:hover{
    background-color: red;
}

button.cancelar{
    width: 35%;
    height: 40px;
    position: absolute;
    left: 10%;
    background-color: #FFFFFF;
    border-radius: 100px;
    border-color: #DA0D1E;
    font-family: Verdana, sans-serif;
    font-size: larger;
    color: #DA0D1E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.cancelar:hover{
    color: #c50e1e;
    border-color:#c50e1e;
    font-weight: bold;
}

button.gearBtn{
    background-color: #FFFFFF;
    border: none;
}